@import url("https://fonts.googleapis.com/css?family=Advent+Pro:300,400,500,600&subset=latin-ext");
@keyframes flipSide {
  from {
    transform: rotateY(90deg); }
  to {
    transform: rotateY(0deg); } }

@keyframes pulsing {
  from {
    transform: scale(1, 1); }
  to {
    transform: scale(1.5, 1.5); } }

@keyframes flying {
  from {
    transform: translate(20vw, -20vh); }
  to {
    transform: translate(70vw, -20vh); } }

@keyframes sizeFLy {
  20% {
    width: 30px;
    height: 30px; }
  40% {
    width: 50px;
    height: 50px; }
  60% {
    width: 30px;
    height: 30px; }
  100% {
    width: 50px;
    height: 50px; } }

* {
  font-family: 'Advent Pro', sans-serif; }

.main-body {
  width: 95vw;
  height: 95vh;
  margin: 2.5vh auto;
  background-color: #F0F2FA;
  position: relative;
  color: #0E1A2A; }

.search-btn img {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 3%;
  right: 3%;
  animation: pulsing 2s cubic-bezier(0.15, 0.68, 0.82, 0.21) 1.2s alternate both;
  z-index: 400; }

input[type=text] {
  display: none;
  width: 300px;
  height: 60px;
  position: absolute;
  top: 3%;
  right: 10%;
  background-color: white;
  padding-left: 20px;
  font-size: 35px;
  color: #0E1A2A;
  letter-spacing: 3px;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 1px solid #0E1A2A;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(102, 126, 204, 0.75);
  -moz-box-shadow: 0px 0px 20px 0px rgba(102, 126, 204, 0.75);
  box-shadow: 0px 0px 20px 0px rgba(102, 126, 204, 0.75);
  z-index: 400; }

.main-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 90px;
  z-index: 400; }
  .main-name p {
    font-size: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0; }
  .main-name span {
    display: inline-block; }

.city-name {
  top: 40%;
  font-size: 85px;
  line-height: 85px;
  padding-bottom: 0;
  text-align: center; }

.weather-info {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 85px; }

.weather-description {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  text-align: center;
  text-transform: capitalize;
  font-size: 55px; }

span:nth-child(1) {
  animation: flipSide 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) both; }

span:nth-child(2) {
  animation: flipSide 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 0.2s both; }

span:nth-child(3) {
  animation: flipSide 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 0.4s both; }

span:nth-child(4) {
  animation: flipSide 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 0.6s both; }

span:nth-child(5) {
  animation: flipSide 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 0.8s both; }

span:nth-child(6) {
  animation: flipSide 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1s both; }

span:nth-child(7) {
  animation: flipSide 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1.2s both; }

.animate-name {
  animation: flipSide 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) both; }

.cloud {
  width: 250px;
  height: 150px;
  position: absolute;
  background: transparent url(../images/front_cloud.png) 0 0 no-repeat; }

.cloud-dark {
  width: 250px;
  height: 200px;
  position: absolute;
  background: transparent url(../images/back_cloud.png) 0 0 no-repeat; }

.fcloud01 {
  top: 50%;
  z-index: 100;
  animation: drift 25s linear infinite; }

.fcloud02 {
  top: 70%;
  z-index: 200;
  animation: drift 35s 10s linear infinite backwards reverse; }

.fcloud03 {
  top: 10%;
  z-index: 50;
  animation: drift 20s 3s linear infinite backwards reverse; }

.bee {
  width: 50px;
  height: 50px;
  position: absolute;
  background: transparent url(../images/bee.png) 0 0 no-repeat;
  background-size: contain;
  bottom: 0;
  z-index: 100;
  animation: flying 5s linear forwards, sizeFLy 5s linear forwards; }

.night {
  background-color: #001652;
  color: #dfdccb; }

.day {
  background-color: #F0F2FA;
  color: #0E1A2A; }

.sun, .moon {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 150px;
  z-index: 40; }
  .sun div, .moon div {
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0px solid #000000;
    position: absolute;
    top: 90%;
    left: 90%;
    transform: translate(-50%, -50%); }
  .sun div:nth-child(1), .moon div:nth-child(1) {
    z-index: 1;
    width: 150px;
    height: 150px; }
  .sun div:nth-child(2), .moon div:nth-child(2) {
    z-index: 2;
    width: 130px;
    height: 130px; }
  .sun div:nth-child(3), .moon div:nth-child(3) {
    z-index: 3;
    width: 110px;
    height: 110px; }
  .sun div:nth-child(4), .moon div:nth-child(4) {
    z-index: 4;
    width: 90px;
    height: 90px; }
  .sun div:nth-child(5), .moon div:nth-child(5) {
    z-index: 5;
    width: 70px;
    height: 70px; }
  .sun div:nth-child(6), .moon div:nth-child(6) {
    z-index: 6;
    width: 50px;
    height: 50px; }

.sun div:nth-child(1) {
  background-color: #ff847a; }

.sun div:nth-child(2) {
  background-color: #ffafa9;
  -webkit-box-shadow: 0px 0px 56px 35px rgba(255, 175, 169, 0.75);
  -moz-box-shadow: 0px 0px 56px 35px rgba(255, 175, 169, 0.75);
  box-shadow: 0px 0px 56px 35px rgba(255, 175, 169, 0.75); }

.sun div:nth-child(3) {
  background-color: #ff9832; }

.sun div:nth-child(4) {
  background-color: #ffcc55;
  -webkit-box-shadow: 0px 0px 56px 35px rgba(255, 204, 85, 0.75);
  -moz-box-shadow: 0px 0px 56px 35px rgba(255, 204, 85, 0.75);
  box-shadow: 0px 0px 56px 35px rgba(255, 204, 85, 0.75); }

.sun div:nth-child(5) {
  background-color: #ffc232; }

.sun div:nth-child(6) {
  background-color: #fffad8;
  -webkit-box-shadow: 0px 0px 56px 35px rgba(255, 250, 216, 0.75);
  -moz-box-shadow: 0px 0px 56px 35px rgba(255, 250, 216, 0.75);
  box-shadow: 0px 0px 56px 35px rgba(255, 250, 216, 0.75); }

.moon div:nth-child(1) {
  background-color: #e9e8e1; }

.moon div:nth-child(2) {
  background-color: #dfdccb;
  -webkit-box-shadow: 0px 0px 56px 35px rgba(223, 220, 203, 0.75);
  -moz-box-shadow: 0px 0px 56px 35px rgba(223, 220, 203, 0.75);
  box-shadow: 0px 0px 56px 35px rgba(223, 220, 203, 0.75); }

.moon div:nth-child(3) {
  background-color: #fffad8; }

.moon div:nth-child(4) {
  background-color: #fff3a8;
  -webkit-box-shadow: 0px 0px 56px 35px rgba(255, 243, 168, 0.75);
  -moz-box-shadow: 0px 0px 56px 35px rgba(255, 243, 168, 0.75);
  box-shadow: 0px 0px 56px 35px rgba(255, 243, 168, 0.75); }

.moon div:nth-child(5) {
  background-color: #fffad8; }

.moon div:nth-child(6) {
  background-color: #fffad8;
  -webkit-box-shadow: 0px 0px 56px 35px rgba(255, 250, 216, 0.75);
  -moz-box-shadow: 0px 0px 56px 35px rgba(255, 250, 216, 0.75);
  box-shadow: 0px 0px 56px 35px rgba(255, 250, 216, 0.75); }

.star {
  display: none; }
  .star div {
    position: absolute;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px; }
  .star div:nth-child(2n) {
    background-color: #fffad8;
    width: 3px;
    height: 3px;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(255, 250, 216, 0.5);
    -moz-box-shadow: 0px 0px 2px 2px rgba(255, 250, 216, 0.5);
    box-shadow: 0px 0px 2px 2px rgba(255, 250, 216, 0.5); }
  .star div:nth-child(2n + 1) {
    background-color: #fff3a8;
    width: 5px;
    height: 5px; }
  .star div:nth-child(3n) {
    background-color: #95a4d5;
    width: 5px;
    height: 5px; }
  .star div:nth-child(5n) {
    background-color: #ffcc55;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(255, 204, 85, 0.75);
    -moz-box-shadow: 0px 0px 2px 2px rgba(255, 204, 85, 0.75);
    box-shadow: 0px 0px 2px 2px rgba(255, 204, 85, 0.75);
    width: 3px;
    height: 3px; }
  .star div:nth-child(1) {
    top: 97%;
    left: 74%; }
  .star div:nth-child(2) {
    top: 74%;
    left: 51%; }
  .star div:nth-child(3) {
    top: 15%;
    left: 34%; }
  .star div:nth-child(4) {
    top: 33%;
    left: 86%; }
  .star div:nth-child(5) {
    top: 100%;
    left: 89%; }
  .star div:nth-child(6) {
    top: 3%;
    left: 42%; }
  .star div:nth-child(7) {
    top: 77%;
    left: 19%; }
  .star div:nth-child(8) {
    top: 99%;
    left: 57%; }
  .star div:nth-child(9) {
    top: 47%;
    left: 65%; }
  .star div:nth-child(10) {
    top: 53%;
    left: 13%; }
  .star div:nth-child(11) {
    top: 7%;
    left: 41%; }
  .star div:nth-child(12) {
    top: 18%;
    left: 13%; }
  .star div:nth-child(13) {
    top: 65%;
    left: 75%; }
  .star div:nth-child(14) {
    top: 40%;
    left: 25%; }
  .star div:nth-child(15) {
    top: 69%;
    left: 67%; }
  .star div:nth-child(16) {
    top: 42%;
    left: 86%; }
  .star div:nth-child(17) {
    top: 12%;
    left: 71%; }
  .star div:nth-child(18) {
    top: 45%;
    left: 64%; }
  .star div:nth-child(19) {
    top: 80%;
    left: 18%; }
  .star div:nth-child(20) {
    top: 77%;
    left: 84%; }
  .star div:nth-child(21) {
    top: 47%;
    left: 86%; }
  .star div:nth-child(22) {
    top: 100%;
    left: 31%; }
  .star div:nth-child(23) {
    top: 93%;
    left: 54%; }
  .star div:nth-child(24) {
    top: 51%;
    left: 47%; }
  .star div:nth-child(25) {
    top: 5%;
    left: 36%; }
  .star div:nth-child(26) {
    top: 91%;
    left: 32%; }
  .star div:nth-child(27) {
    top: 80%;
    left: 40%; }
  .star div:nth-child(28) {
    top: 47%;
    left: 47%; }
  .star div:nth-child(29) {
    top: 7%;
    left: 51%; }
  .star div:nth-child(30) {
    top: 12%;
    left: 13%; }
  .star div:nth-child(31) {
    top: 59%;
    left: 81%; }
  .star div:nth-child(32) {
    top: 75%;
    left: 29%; }
  .star div:nth-child(33) {
    top: 90%;
    left: 82%; }
  .star div:nth-child(34) {
    top: 35%;
    left: 15%; }
  .star div:nth-child(35) {
    top: 77%;
    left: 72%; }
  .star div:nth-child(36) {
    top: 46%;
    left: 14%; }
