* {
    font-family: 'Advent Pro', sans-serif;
}

.main-body {
    width: 95vw;
    height: 95vh;
    margin: 2.5vh auto;
    background-color: #F0F2FA;
    position: relative;
    color: #0E1A2A;
    overflow: hidden;
}

.search-btn img {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 3%;
    right: 3%;
    animation: pulsing 2s cubic-bezier(.15,.68,.82,.21) 1.2s alternate both;
    z-index: 400;
}

input[type=text] {
    display: none;
    width: 300px;
    height: 60px;
    position: absolute;
    top: 3%;
    right: 10%;
    background-color: white;
    padding-left: 20px;
    font-size: 35px;
    color: #0E1A2A;
    letter-spacing: 3px;
    @include radius(5px 5px 5px 5px);
    border: 1px solid #0E1A2A;
    @include shadow(0px 0px 20px 0px rgba(102, 126, 204, 0.75));
    z-index: 400;
}

.main-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 90px;
    z-index: 400;
    width: 90vw;
    text-align: center;
    p {
        font-size: 40px;
        line-height: 40px;
        margin: 0;
        padding: 0;
    }
    span {
        display: inline-block;
    }
}

.city-name {
    top: 40%;
    font-size: 85px;
    line-height: 85px;
    padding-bottom: 0;
    text-align: center;
    z-index: 200;
}

.weather-info {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 85px;
    z-index: 200;
}

.weather-description {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    text-align: center;
    text-transform: capitalize;
    font-size: 55px;
    z-index: 200;
}
#weather-icon {
    position: absolute;
    top: 80%;
    left: 50%;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    padding: 0;
    z-index: 200;
    background-size: contain;
}

.snowIcon {
    background: url(../images/weather_snow.png) 0 0 no-repeat;
}
.rainIcon {
    background: url(../images/weather_rain.png) 0 0 no-repeat;
}
.thunderIcon {
    background: url(../images/weather_thunder.png) 0 0 no-repeat;
}
.overcastIcon {
    background: url(../images/weather_overcast.png) 0 0 no-repeat;
}
.cloudyIcon {
    background: url(../images/weather_cloud.png) 0 0 no-repeat;
}
.fewCloudsIcon {
    background: url(../images/weather_sun_cloud.png) 0 0 no-repeat;
}
.mistIcon {
    background: url(../images/weather_mist.png) 0 0 no-repeat;
}

$j: 0;
@for $i from 1 through 8 {
    span:nth-child(#{$i}) {
        animation: flipSide 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) $j both;
        $j: $j + 0.2s;
    }
}

.animate-name {
    animation: flipSide 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) both;
}


.night {
    background: rgba(0,10,69,1);
    background: -moz-linear-gradient(top, rgba(0,10,69,1) 0%, rgba(60,116,150,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,10,69,1)), color-stop(100%, rgba(60,116,150,1)));
    background: -webkit-linear-gradient(top, rgba(0,10,69,1) 0%, rgba(60,116,150,1) 100%);
    background: -o-linear-gradient(top, rgba(0,10,69,1) 0%, rgba(60,116,150,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,10,69,1) 0%, rgba(60,116,150,1) 100%);
    background: linear-gradient(to bottom, rgba(0,10,69,1) 0%, rgba(60,116,150,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000a45', endColorstr='#3c7496', GradientType=0 );
    color: rgb( 223, 220, 203);
}

.day {
    background: rgba(134,174,204,1);
    background: -moz-linear-gradient(top, rgba(134,174,204,1) 0%, rgba(212,228,239,1) 50%, rgba(212,228,239,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(134,174,204,1)), color-stop(50%, rgba(212,228,239,1)), color-stop(100%, rgba(212,228,239,1)));
    background: -webkit-linear-gradient(top, rgba(134,174,204,1) 0%, rgba(212,228,239,1) 50%, rgba(212,228,239,1) 100%);
    background: -o-linear-gradient(top, rgba(134,174,204,1) 0%, rgba(212,228,239,1) 50%, rgba(212,228,239,1) 100%);
    background: -ms-linear-gradient(top, rgba(134,174,204,1) 0%, rgba(212,228,239,1) 50%, rgba(212,228,239,1) 100%);
    background: linear-gradient(to bottom, rgba(134,174,204,1) 0%, rgba(212,228,239,1) 50%, rgba(212,228,239,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86aecc', endColorstr='#d4e4ef', GradientType=0 );
    color: #0E1A2A;
}

.sky_overcast {
    background: rgba(74,80,84,1);
    background: -moz-linear-gradient(top, rgba(74,80,84,1) 0%, rgba(212,228,239,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(74,80,84,1)), color-stop(100%, rgba(212,228,239,1)));
    background: -webkit-linear-gradient(top, rgba(74,80,84,1) 0%, rgba(212,228,239,1) 100%);
    background: -o-linear-gradient(top, rgba(74,80,84,1) 0%, rgba(212,228,239,1) 100%);
    background: -ms-linear-gradient(top, rgba(74,80,84,1) 0%, rgba(212,228,239,1) 100%);
    background: linear-gradient(to bottom, rgba(74,80,84,1) 0%, rgba(212,228,239,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a5054', endColorstr='#d4e4ef', GradientType=0 );
}

.sun, .moon {
    display: inline-block;
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 40;
    div {
        @include radius(200px 200px 200px 200px);
        border: 0px solid #000000;
        position: absolute;
        top: 90%;
        left: 90%;
        transform: translate(-50%, -50%);
    }

    @for $i from 1 through 6 {
        div:nth-child(#{$i}) {
            z-index: $i;
            width: 170px - ($i * 20);
            height: 170px - ($i * 20);
        }
    }
}
.sun {
    div:nth-child(1) {
        background-color: rgb( 255, 132, 122);
    }
    div:nth-child(2) {
        background-color: rgb( 255, 175, 169);
        @include shadow(0px 0px 56px 35px rgba( 255, 175, 169, .75));
    }
    div:nth-child(3) {
        background-color: rgb(255,152,50);
    }
    div:nth-child(4) {
        background-color: rgb(255,204,85);
        @include shadow(0px 0px 56px 35px rgba(255,204,85,.75));
    }
    div:nth-child(5) {
        background-color: rgb(255,194,50);
    }
    div:nth-child(6) {
        background-color: rgb(255,250,216);
        @include shadow(0px 0px 56px 35px rgba(255,250,216,.75));
    }
}

.moon {
    div:nth-child(1) {
        background-color: rgb(233, 232, 225);
    }
    div:nth-child(2) {
        background-color: rgb( 223, 220, 203);
        @include shadow( 0px 0px 56px 35px rgba(223, 220, 203,.75));
    }
    div:nth-child(3) {
        background-color: rgb(255, 250, 216);
    }
    div:nth-child(4) {
        background-color: rgb( 255, 243, 168);
        @include shadow(0px 0px 56px 35px rgba(255, 243, 168,.75));
    }
    div:nth-child(5) {
        background-color: rgb( 255, 250, 216);
    }
    div:nth-child(6) {
        background-color: rgb(255, 250, 216);
        @include shadow(0px 0px 56px 35px rgba(255, 250, 216,.75));
    }
}

.star {
    display: none;
    div {
        position: absolute;
        @include radius(200px 200px 200px 200px);
    }
    div:nth-child(2n) {
        width: 3px;
        height: 3px;
        background-color: rgb(255, 250, 216);
        @include shadow(0px 0px 2px 2px rgba(255, 250, 216,.5));
    }
    div:nth-child(2n + 1) {
        width: 5px;
        height: 5px;
        background-color: rgb( 255, 243, 168);
    }
    div:nth-child(3n) {
        width: 5px;
        height: 5px;
        background-color: rgb( 149, 164, 213);
    }
    div:nth-child(5n) {
        width: 3px;
        height: 3px;
        background-color: rgb(255,204,85);
        @include shadow(0px 0px 2px 2px rgba(255,204,85,.75));
    }

    @for $i from 1 through 36 {
        div:nth-child(#{$i}) {
            top: random(100)* 1%;
            left: random(100)* 1%;
        }
    }
}

#weather {
    div {
        position: absolute;
        top: -11vh;
    }
}

.snow {
    div {
        width: 20px;
        height: 20px;
        background: url(../images/snowflake_white.png) 0 0 no-repeat;
        background-size: contain;
    }
    @for $i from 1 through 72 {
        div:nth-child(#{$i}) {
            left: random(100)* 1%;
            @include animation(falling 10s $i * .5s linear infinite backwards);
        }
    }
    div:nth-child(2n + 1) {
        width: 15px;
        height: 15px;
    }
    div:nth-child(3n) {
        width: 10px;
        height: 10px;
    }
    div:nth-child(5n) {
        width: 5px;
        height: 5px;
    }
}

.rain {
    div {
        width: 20px;
        height: 20px;
        background: url(../images/raindrop_2.png) 0 0 no-repeat;
        background-size: contain;
    }
    @for $i from 1 through 72 {
        div:nth-child(#{$i}) {
            left: random(100)* 1%;
            @include animation(falling 5s $i * .2s linear infinite backwards);
        }
    }

    div:nth-child(2n + 1) {
        width: 15px;
        height: 15px;
    }
    div:nth-child(3n) {
        width: 10px;
        height: 10px;
    }
    div:nth-child(5n) {
        width: 5px;
        height: 5px;
    }
}

.drizzle {
    div {
        width: 2px;
        border-left: 2px solid white;
    }
    @for $i from 1 through 72 {
        div:nth-child(#{$i}) {
            left: random(100)* 1%;
            @include animation(falling 5s $i * .2s linear infinite backwards);
        }
    }

    div:nth-child(2n + 1) {
        height: 25px;;
    }
    div:nth-child(3n) {
        height: 20px;
    }
    div:nth-child(5n) {
        height: 15px;
    }
}

#clouds {
    div {
        position: absolute;
        background-size: contain;
        z-index: 200;
    }
}

.clouds-few {
    @for $i from 1 through 4 {
        div:nth-child(#{$i}) {
            top: random(70)* 1%;
            @include animation(drift $i + 20s $i * 3s linear infinite backwards);
            background:transparent url(../images/clouds_light.png) 0 0 no-repeat;
            width: 250px - ($i * 5);
            height: 150px - ($i * 10);
        }
    }
    div:nth-child(2) {
        width: 250px;
        height: 150px;
        @include animation(drift 35s 3s linear infinite reverse backwards);
        background: transparent url(../images/clouds_light.png) 0 0 no-repeat;
    }
}

.clouds-broken {
    @for $i from 1 through 3 {
        div:nth-child(#{$i}) {
            top: random(70)* 1%;
            @include animation(drift $i + 20s $i * 3s linear infinite backwards);
            background:transparent url(../images/clouds_light.png) 0 0 no-repeat;
            width: 250px - ($i * 5);
            height: 150px - ($i * 10);
        }
    }

    @for $i from 4 through 6 {
        div:nth-child(#{$i}) {
            top: random(70)* 1%;
            @include animation(drift $i + 20s $i * 3s linear infinite reverse backwards);
            background:transparent url(../images/cloud_dark.png) 0 0 no-repeat;
            width: 250px + ($i * 5);
            height: 150px - ($i * 5);
        }
    }

    @for $i from 7 through 8 {
        div:nth-child(#{$i}) {
            top: random(70)* 1%;
            @include animation(drift $i + 20s $i * 3s linear infinite reverse backwards);
            background:transparent url(../images/clouds_light.png) 0 0 no-repeat;
            width: 250px - ($i * 5);
            height: 150px - ($i * 5);
        }
    }

    div:nth-child(9){
        top: random(70)* 1%;
        @include animation(drift 20s 5s linear infinite reverse backwards);
        background: transparent url(../images/clouds_group.png) 0 0 no-repeat;
        width: 300px;
        height: 200px;
    }

    div:nth-child(10){
        top: random(70)* 1%;
        @include animation(drift 20s 5s linear infinite backwards);
        background:transparent url(../images/clouds_group.png) 0 0 no-repeat;
        width: 250px;
        height: 150px;
    }

}

.clouds-scattered {
    @for $i from 1 through 3 {
        div:nth-child(#{$i}) {
            top: random(70)* 1%;
            @include animation(drift $i + 20s $i * 3s linear infinite backwards);
            background:transparent url(../images/clouds_light.png) 0 0 no-repeat;
            width: 250px - ($i * 5);
            height: 150px - ($i * 10);
        }
    }

    @for $i from 4 through 5 {
        div:nth-child(#{$i}) {
            top: random(70)* 1%;
            @include animation(drift $i + 20s $i * 3s linear infinite reverse backwards);
            background:transparent url(../images/cloud_dark.png) 0 0 no-repeat;
            width: 250px + ($i * 5);
            height: 150px - ($i * 5);
        }
    }
    div:nth-child(6){
        top: random(70)* 1%;
        @include animation(drift 20s 5s linear infinite reverse backwards);
        background:transparent url(../images/clouds_light.png) 0 0 no-repeat;
        width: 250px;
        height: 150px;
    }

}

.clouds-overcast {
    @for $i from 1 through 4 {
        div:nth-child(#{$i}) {
            top: random(70)* 1%;
            @include animation(drift $i + 40s $i * 3s linear infinite backwards);
            background:transparent url(../images/cloud_dark.png) 0 0 no-repeat;
            width: 250px - ($i * 5);
            height: 150px - ($i * 10);
        }
    }
    @for $i from 5 through 7 {
        div:nth-child(#{$i}) {
            top: random(70)* 1%;
            @include animation(drift $i + 40s $i * 3s linear reverse infinite backwards);
            background:transparent url(../images/cloud_dark.png) 0 0 no-repeat;
            width: 350px - ($i * 5);
            height: 250px - ($i * 10);
        }
    }
}

.misty {
    width: 95vw;
    height: 95vh;
    margin: 2.5vh auto;
    background-color: rgba(190,192,194,.75);
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    div:nth-child(1) {
        top: random(70)* 1%;
        @include animation(drift 40s 2s linear infinite backwards);
        background: transparent url(../images/mist.png) 0 0 no-repeat;
        background-size: contain;
        width: 400px;
        height: 300px;
    }
    div:nth-child(2) {
        top: random(70)* 1%;
        @include animation(drift 50s 1s linear infinite reverse backwards);
        background: transparent url(../images/mist_1.png) 0 0 no-repeat;
        background-size: contain;
        width: 400px;
        height: 300px;
    }
}

.thunder {
    div {
        position: absolute;
    }
    div:nth-child(1) {
        background: transparent url(../images/ligtning_bolt.png) 0 0 no-repeat;
        background-size: contain;
        width: 400px;
        height: 400px;
        transform: rotate(-40deg);
        left: 0;
    }
}

.thunder_rain {
    div {
        border-left: 2px solid white;
    }
    @for $i from 1 through 99 {
        div:nth-child(#{$i}) {
            left: random(100)* 1%;
            @include animation(falling 5s $i * .2s linear infinite backwards);
        }
    }

    div:nth-child(2n + 1) {
        height: 35px;;
    }
    div:nth-child(3n) {
        height: 25px;
    }
    div:nth-child(5n) {
        height: 20px;
        border-color: #b3d0eb;
    }
}
