$vSmallScreen: "max-width: 360px";
$smartphone: "max-width: 600px";
$tablet: "max-width: 900px";
$lg-tablet: "max-width: 1020px";
$portrait: "(orientation: portrait)";

$primary-color: #43C6D7;
$base-color: #EBEBEB;
$center: 0 auto;

@mixin radius($size...){
    border-radius: $size;
    -moz-border-radius: $size;
    -webkit-border-radius: $size;
}

@mixin flexing-row(){
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
}
