$vSmallScreen: "max-width: 360px";
$smartphone: "max-width: 600px";
$tablet: "max-width: 900px";
$lg-tablet: "max-width: 1020px";
$portrait: "(orientation: portrait)";

$primary-color: #43C6D7;
$base-color: #EBEBEB;
$center: 0 auto;

@mixin radius($size...){
    border-radius: $size;
    -moz-border-radius: $size;
    -webkit-border-radius: $size;
}

@mixin flexing-row(){
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
}

@keyframes flipSide {
  from {transform: rotateY(90deg);}
  to {transform: rotateY(0deg);}
}

@keyframes pulsing {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
}

@keyframes flying {
	from {
        transform: translate(20vw, -20vh);
    }
    to {
        transform: translate(70vw, -20vh);
    }
    }

@keyframes sizeFLy {
    20% {
        width: 30px;
        height: 30px
    }
    40% {
        width: 50px;
        height: 50px
    }
    60% {
        width: 30px;
        height: 30px
    }
    100% {
        width: 50px;
        height: 50px
    }

}
