@mixin radius($size...){
    border-radius: $size;
    -moz-border-radius: $size;
    -webkit-border-radius: $size;
}

@mixin shadow($shadow...){
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin animation($value...) {
    -webkit-box-animation: $value;
    -moz-box-animation: $value;
    animation: $value;
}

@keyframes flipSide {
  from {transform: rotateY(90deg);}
  to {transform: rotateY(0deg);}
}

@keyframes pulsing {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
}

@keyframes falling {
	from {transform: translateY(5vh);}
	to {transform: translateY(110vh);}
}

@keyframes drift {
	from{transform: translateX(-350px);}
	to {transform: translateX(1350px);}
}
